setuptools==71.1.0
scikit-learn==1.3.0
joblib>=1.0.1,<2.0.0
uvicorn>=0.16.0,<0.18.0
fastapi>=0.64.0,<1.0.0
pydantic #>=1.8.1,<2.0.0
requests>=2.23.0,<2.24.0

prometheus-client

urllib3
numpy>=1.21.0,<2.0.0
gradio==3.36.1        # gives a friendly web interface

xgboost
